*
!*/

# whitelist all folders except these two
/.next
/node_modules

!.gitignore
!/.gitmodules
!/.gitattributes

# dev
!/.env.example
!/.env.test
!/.vscode/*.json
!/.editorconfig
!/.prettierrc
!/postcss.config.mjs
!/eslint.config.mjs
!/next.config.ts
!/tsconfig.json
!/components.json
!/vitest.config.mts

# pnpm
!/package.json
!/pnpm-lock.yaml

# src
!/src/app/globals.css
!/src/app/favicon.ico
!/src/**/*.tsx
!/src/**/*.ts

# public
!/public/**/*.svg
!/public/**/*.png
!/public/**/*.wasm

# doc
!/book.toml
!/src/**/*.md