*
!*/
!.gitignore
!/.gitmodules
!/.gitattributes

# dev
/.next
!/.vscode/*.json
!/.editorconfig
!/.prettierrc
!/postcss.config.mjs
!/eslint.config.mjs
!/next.config.ts
!/tsconfig.json

# pnpm
/node_modules
!/package.json
!/pnpm-lock.yaml

# src
!/src/app/globals.css
!/src/app/favicon.ico
!/src/**/*.tsx
!/src/**/*.ts

# public
!/public/**/*.svg
!/public/**/*.png
